.mobile-menu-header {
  margin: 0;
  background: $med-red;
  color: white;
  text-align: center;
  padding: 1em;
}

/* dependency css */
#pos-push-link {
    cursor: pointer;
  }
  
  .pos__wrapper-main {
    height: 100vh;
    width: 300px;
    z-index: 9001;
    right: -300px;
    border-left: 1px solid black;
    top: 0;
    background: #fafafa;
    position: absolute;
  }
  
  .pos__wrapper-animation-open {
    animation-name: toggleMenu;
    animation-duration: 0.1s;
    right: 0;
  }
  
  .pos__wrapper-animation-close {
    animation-name: closeMenu;
    animation-duration: 0.1s;
    right: -300px;
  }
  
  .pos-link-item {
    cursor: pointer;
    padding: 0.75em;
    border-bottom: 1px solid #333;
  }
  
  .pos-sub-link-item {
    margin-left: 1em;
    padding: 0.5em 0;
  }
  
  .pos-body {
    overflow: hidden;
  }
  
  .pos-dark-bg {
    z-index: 9000;
    background-color: rgba(51, 51, 51, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  
  @keyframes toggleMenu {
    0% {
      right: -300px;
    }
  }
  @keyframes closeMenu {
    0% {
      right: 0;
    }
  }
  