.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.add-button {
    background: #c0e8b2;
    padding: 1em 4em;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    margin-left: .5em;
    max-height: 4em;
}

.no-margin-top{
    margin-top: 0;
}