.c-Tournament__manage-button {
    display: block;
    width: 100%;
    padding: 1.5em;
    margin-top: 1em;
    background: $dark-navy;
    border: 0;
    font-size: 16px;
    outline: none;
    color: white;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }

    &--selected {
        background: $faded-blue;
        text-decoration: underline;
    }
}

.c-Tournament__form {
    width: 700px;
    border-right: 1px solid $light-gray2;

    &--top-border {
        border-top: 1px solid $light-gray2;
        border-right: 0;
        margin-top: 1em;
    }
    @media (max-width: $medium) {
        width: initial; 
    }
}

.c-Tournament__section {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--flex-start {
        justify-content: flex-start;
    }

    &--no-wrap {
        flex-wrap: nowrap;
    }
    &--no-wrap1 {
        flex-wrap: nowrap;

        @media(max-width: $large) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &--row {
        padding: 0 .5em;
        cursor: pointer;
        &:hover {
            background: $light-gray2;
        }
    }

    &--add-event {
        padding: 0;
        padding-bottom: 1em;
    }

    &--gray-bg {
        background: $light-gray3;
    }

    &--register-for-event {
        padding-right: 0;
        padding-left: 0;
    }
}

.c-Tournament-white-bg {
    background: white;
    color: $darker1;
}

.c-Tournament-input  {
    width: 300px;
    padding: 1em;
    outline: 0;
    border: 1px solid $light-gray2;
    border-radius: 3px;

    &:focus {
        border: 1px solid $dark-navy;
    }

    &--radio {
        width: 50px;
    }

    &--smaller {
        width: 200px;
    }
}

.c-Tournament-description {
    width: 300px;
    height: 200px;
}

.c-Tournament-flex-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.c-Tournament-button {
    min-width: 150px;
    padding: 1em 2em;
    border: 0;
    cursor: pointer;
    margin-right: 2em;
    border-radius: 3px;

    &:hover {
        opacity: .7;
    }
    &--reset {
        background: $danger-red;
    }
    &--submit {
        background: $fl-green;
    }

    &--block {
        margin-right: 0;
        display: block;
    }

    @media(max-width: $medium) {
        width: 100%;
        margin: .25em 0;
    }
}

.c-Tournament-pointer {
    cursor: pointer;
}


.c-Tournament__chart-container {
    background: #fafafa;
    max-width: 584px;
}

.c-Tournament-flex-inputs {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    div {
        margin-right: 1em;
    }
}

.c-Tournament__border-bottom {
    border-bottom: 1px dashed $light-gray2;
}