$dark-navy: #314455;
$scarlet-red: #644E5B;
$med-red: #9E5A63;
$faded-red: #C96567;
$faded-blue: #97AABD;

$light-gray: #efefef;
$light-gray2: #dadada;
$light-gray3: #fafafa;

$darker1: #333;
$darker2: #003333;
$darker3: #707070;

$danger-red: #ffa3a3;
$fl-yellow: #f3ff99;
$fl-green: #c0e8b2;


$font1: 'Helvetica Neue';

//Font Sizes
$fontSize1: 15px;
$quoteSize: 14px;
$subtitleSize: 30px;
$commentTitle: 2.25em;
$titleSize: 40px;

//breakpoints
$small: 400px;
$mediumSmall: 510px;
$medium: 800px;
$large: 1200px;